Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/admin/$1 -f
RewriteRule ^(.*)$ admin/$1 [L]

RewriteCond %{THE_REQUEST} \s/admin/ [NC,OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]