Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/admin/$1 -f
RewriteRule ^(.*)$ admin/$1 [L]

#RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
#RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{THE_REQUEST} \s/admin/ [NC,OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]

#RewriteCond %{THE_REQUEST} \s/public/ [NC,OR]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [L,QSA]