.header-tool{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header-tool a{
    text-decoration: none;
    color: black;
}

.header-tool .btn-refresh {
    text-decoration: none;
    background-color: #4CCEAC;
}

.header-tool .btn-success .mdi-plus {
    color: black;
}